* {
    padding: 0;
    margin: 0;
}
body {
    font: 16px/36px arial-narrow, arial, sans-serif; 
    overflow: hidden;
}

/* container */
.container {
    background-color: #eaeaea;
    /* width: 100%; */
}


/* navbar */
.navbar {
    background-color: #fff;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}
.nav {
    list-style: none;
    display: flex;
    /* background-color: tomato; */
    width: 430px;
    justify-content: space-evenly;
}
.nav li a {
    text-decoration: none;
    color: #000;
}

/* header */
.header {
    margin-left: 5px;
    padding: 15px;
    background-color: #eaeaea;
}
.header h4 {
    text-align: left;
}

/* main */
.main {
    padding: 20px;
    background-color: #fff;
}
.main p {
    font-size: 14px;
    color: #000;
}

